.bundle
db/*.sqlite3
log/*
data
env
tmp/**/*
doc/api
doc/app
nbproject
.DS_Store
app/assets/projects/**/*
public/assets
vendor/bundle
vendor/cache
coverage
config/config.yml
config/mongoid.yml
config/newrelic.yml
.rvmrc