%p
	= link_to 'Back', admin_project_events_path(@project), title: "Back", class: "btn btn-inverse"

.row
	.span6
		= render 'form'
	.span6
		.google-map{style: "margin-top: 40px"}
			#map_canvas
			#pano