// = require_self

@import "bootstrap"
@import "datetime"

body
  padding-top: 60px

@import "bootstrap-responsive"

.tmpl
  display: none

.pagination
  border-left: 1px solid #ddd
  span
    &.current, &.gap
      float: left
      padding: 0 14px
      line-height: 34px
      text-decoration: none
      border: 1px solid #ddd
      border-left-width: 0

.table
  tbody tr:hover td, tbody tr:hover th
    background-color: #eaeaea
  tr
    &.pending
      color: #aaa
      a
        color: #aaa
        cursor: default
    &.inactive, &.denied
      color: #ccc
      a
        color: #ccc
        cursor: default
      .btn
        &.home
          display: inline-block
          cursor: pointer
        &.deny, &.release, &.repo
          display: none
    &.active, &.approved
      .btn
        &.approve
          display: none
    &.live
      color: green

  td
    .actions
      display: none
      float: right
    &:hover
      .actions
        display: inline-block

.import-csv
  display: none

.google-map
  #map_canvas
    width: 420px
    height: 230px
    margin-bottom: 5px
  #pano
    width: 420px
    height: 230px