#ui-datepicker-div
  -webkit-box-shadow: 0 0 5px #bbb
  -moz-box-shadow: 0 0 5px #bbb
  box-shadow: 0 0 5px #bbb
  display: none
  background: #fff
  padding: 5px
  .ui-datepicker-calendar
    background: #fff
    margin-bottom: 7px
  .ui-widget-header
    margin: 5px 0 8px 0
    text-align: center
    .ui-datepicker-title
      font-weight: bold
    .ui-datepicker-prev
      cursor: pointer
      position: absolute
      left: 10px
      padding-bottom: 5px
      &:hover
        color: #000
    .ui-datepicker-next
      cursor: pointer
      position: absolute
      right: 10px
      padding-bottom: 5px
      &:hover
        color: #000
  .ui-timepicker-div
    padding: 5px
    .ui-widget-header
      margin-bottom: 8px
    dl
      text-align: left
      dt
        height: 25px
        &.ui_tpicker_time_label
          height: 10px
      dd
        margin: -17px 10px 10px 55px
        &.ui_tpicker_time
          margin: -10px 10px 4px 55px
        a
          background: #000
  .ui-slider
    position: relative
    text-align: left
    .ui-slider-handle
      position: absolute
      z-index: 2
      width: 10px
      height: 5px
      cursor: default
  .ui-slider-horizontal
    height: 3px
    background: #ccc
    margin: 0 2px
    .ui-slider-handle
      top: -3px
  .ui-datepicker-buttonpane
    text-align: right
    button
      color: #666
      text-shadow: 0 1px 0 #fff
      border: 1px solid #cacaca
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      border-radius: 5px
      -webkit-box-shadow: 0 0 3px #fff inset
      -moz-box-shadow: 0 0 3px #fff inset
      box-shadow: 0 0 3px #fff inset
      +linear-gradient(#fff, #ddd)
      &:hover
        cursor: pointer
        color: #5083c2
        border-color: #6696d0
        -webkit-box-shadow: 0 0 5px #bbb inset
        -moz-box-shadow: 0 0 5px #bbb
        box-shadow: 0 0 5px #bbb